# Movies on Netflix, Prime Video, Hulu and Disney+

The **"Movies on Netflix, Prime Video, Hulu, and Disney+"** dataset on Kaggle provides details on over 5,000 movies across these streaming platforms. It includes features such as *title*, *year*, *age rating*, *runtime*, *genres*, and streaming platform availability, allowing users to analyze content diversity, exclusivity, and availability by service. This dataset is particularly useful for comparing content strategies and audience targeting across these platforms.

For full details, visit the dataset on Kaggle: [Movies on Netflix, Prime Video, Hulu, and Disney+](https://www.kaggle.com/datasets/ruchi798/movies-on-netflix-prime-video-hulu-and-disney).

## 0. Dataset Loading

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

file_path = 'MoviesOnStreamingPlatforms.csv'
df = pd.read_csv(file_path)

## 1. Data Overview

### 1.1 Check Head and Tail

In [13]:
display(df.head())

display(df.tail())

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
9510,9510,9511,Most Wanted Sharks,2020,NaN,14/100,0,0,0,1,0
9511,9511,9512,Doc McStuffins: The Doc Is In,2020,NaN,13/100,0,0,0,1,0
9512,9512,9513,Ultimate Viking Sword,2019,NaN,13/100,0,0,0,1,0
9513,9513,9514,Hunt for the Abominable Snowman,2011,NaN,10/100,0,0,0,1,0
9514,9514,9515,Women of Impact: Changing the World,2019,7+,10/100,0,0,0,1,0